.card {
  position: relative;
}
.card__image {
  height: 413px;
  object-fit: cover;
  width: 100%;
  border-radius: 8px;
}
.card__delete-btn {
  background: transparent url(../images/delete.svg);
  left: 371px;
  top: 10px;
  position: absolute;
  height: 32px;
  width: 32px;
  border: none;
  padding: 0;
}
.card__delete-btn:hover {
  background: transparent url(../images/delete__hover.png);
}
.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
}
.card__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
}

.card__like-btn {
  background: transparent url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  opacity: 0.4;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn_liked {
  background-image: url("../images/like-icon-liked.svg");
  opacity: 1;
}
.card__like-btn_liked:hover {
  background-image: url("../images/like-icon-liked-hover.svg");
}
@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
  .card__title {
    font-size: 16px;
    line-height: 1;
  }
}
